<div class="card mt-5" style="width: 40rem; margin: 0 auto;">
    <div class="card-header">
        <div *ngIf="newMovie == true; else elseBlock">
            <h2>{{pageTitle}}</h2>
        </div>
        <ng-template #elseBlock>Edit Movie</ng-template>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
            <div *ngIf="movie">
                <div class="form-group row" *ngIf="!newMovie">
                    <label for="movieId" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieId" #id="ngModel" #ctrl_id
                            [(ngModel)]="movie!.id" name="id" required readonly>
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label for="movieTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieTitle" #title="ngModel" #ctrl_title
                            [(ngModel)]="movie!.title" name="title" minlength="4" required>
                        <div *ngIf="title.invalid && (title.dirty || title.touched)">
                            <div *ngIf="title.errors?.['required']" class="alert alert-warning">Inserire un titolo</div>
                            <div *ngIf="title.errors?.['minlength']" class="alert alert-warning">Lunghezza minima 4</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label for="movieDate" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieDate" #date="ngModel" #ctrl_date
                            [(ngModel)]="movieDate" name="date"
                            pattern="^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" required>
                        <div *ngIf="date.invalid && (date.dirty || date.touched)">
                            <div *ngIf="date.errors?.['required']" class="alert alert-warning">Inserire una data</div>
                            <div *ngIf="date.errors?.['pattern']" class="alert alert-warning">formato non valido
                                [mm/dd/yyyy]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label for="movieRating" class="col-sm-2 col-form-label">Rating</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieRating" #rating="ngModel" #ctrl_rating
                            [(ngModel)]="movie!.rating" name="rating" pattern="^[0-5]+([\,\.][0-9]+)?$" required>
                        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)">
                            <div *ngIf="rating.errors?.['required']" class="alert alert-warning">Inserire un rating</div>
                            <div *ngIf="rating.errors?.['pattern']" class="alert alert-warning">Valore deve essere
                                compreso
                                tra 0 e 5</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label for="movieNote" class="col-sm-2 col-form-label">Note</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieNote" #note="ngModel" #ctrl_note
                            [(ngModel)]="movie!.note" name="note">
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <label for="movieGenre" class="col-sm-2 col-form-label">Genere</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="movieGenre" #genre="ngModel" #ctrl_genre
                            [(ngModel)]="movieGenre" name="genre">
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <button class="btn btn-primary mr-3" style="width:80px; margin-right: 5px;" type="submit"
                        title="Save movie" [disabled]="!movieForm.valid || !movieForm.dirty">
                        Save
                    </button>
                    <button class="btn btn-outline-warning" style="width:80px; margin-right: 5px;" type="button"
                        title="Reset form" (click)="resetForm()" [hidden]="newMovie">
                        Reset
                    </button>
                    <button class="btn btn-outline-danger" style="width:80px; margin-right: 5px;" type="button"
                        title="Delete movie" (click)="deleteMovie()" [hidden]="newMovie">
                        Delete
                    </button>
                    <button class="btn btn-outline-secondary mr-3" style="width:80px; margin-right: 5px;" type="button"
                        title="Goto Movie Catalog" [routerLink]="['/movie-catalog']">
                        Back
                    </button>
                </div>
            </div>
        </form>
        <div class=" mt-5">
            <br>Dirty: {{ movieForm.dirty }}
            <br>Touched: {{ movieForm.touched }}
            <br>Valid: {{ movieForm.valid }}
            <br>Value: {{ movieForm.value | json }}
        </div>
    </div>
</div>