.item-right-1 {
    position: absolute;
    right: 7%;
}
.item-right-2 {
    position: absolute;
    right: 13%;
}

.navbar {
    background-color: #1D1B1E;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}